.gradle/
build/
app/build/
local.properties
*.iml
.idea/
*.keystore
*.jks
*.p12
*.pem
*.key
*.log
*.out
*.chk
*.fchk
*.cube
*.wfn
*.wfx
*.tar
*.zip
*.7z
*.gz
*.tmp
*.bak
captures/
externalNativeBuild/
.cxx/
